@using MN = RightNAU.API.Entity.Site;
@model MN.RGM
<table class="table">
    <thead>
        <tr>
            <th rowspan="2">Пара</th>
            <th colspan="7">День тижня</th>
        </tr>
        <tr>
            <th>Понеділок</th>
            <th>Вівторок</th>
            <th>Середа</th>
            <th>Четвер</th>
            <th>П'ятниця</th>
            <th>Субота</th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Subjects1)
    {
        int counter = 1;
        if (counter == item.Pare)
        {
            <tr>
                if (item.Day == 1) {
                <td><p class="lessonName">@item.Name</p> @item.Day</td>}
                else {
                <td></td>}
                if (item.Day == 2) {
                <td><p class="lessonName">@item.Name</p> @item.Day</td>}
                else {
                <td></td>}
                if (item.Day == 3) {
                <td><p class="lessonName">@item.Name</p> @item.Day</td>}
                else {
                <td></td>}
                if (item.Day == 4) {
                <td><p class="lessonName">@item.Name</p> @item.Day</td>}
                else {
                <td></td>}
                if (item.Day == 5) {
                <td><p class="lessonName">@item.Name</p> @item.Day</td>}
                else {
                <td></td>}
                if (item.Day == 6) {
                <td><p class="lessonName">@item.Name</p> @item.Day</td>}
                else {
                <td></td>}
            </tr>
        }
        counter++;

                 
       }

            

        

        </tbody>
</table>