@{ Layout = "_LayoutForAdmin.cshtml";}
@model RKE.UIModels.CRUDLessonForExternalModels.CRUDLessonForExternalModelsDataModel
@Styles.Render("~/Scripts/semantic-auto-complete/Semantic-UI-CSS-master/semantic.min.css")
<form action="/Admin/CheckIfLessonExist" method="get">
<br />
    <!--<input name="group" type="text" />
    <input name="date" type="datetime" />
    <input name="teacher" type="text" />-->
    <select name="groups[]" multiple="" class="ui fluid multiple search normal selection dropdown" id="groups" >
      @foreach (var item in Model.Groups) {
          <option value="@item.Id">@item.Name</option>
      }
    </select>
    <select name="teachers" multiple="" id="teachers" class=" ui fluid multiple search normal selection dropdown">
        @foreach (var item in Model.Teachers)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <select name="disziplins" multiple="" id="disziplins" class="ui fluid multiple search normal selection dropdown">
        @foreach (var item in Model.Disziplins)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <select name="auds" multiple="" id="auds" class="ui fluid multiple search normal selection dropdown">
        @foreach (var item in Model.Auds)
        {
            <option value="@item.Id">@item.NumberOfAud</option>
        }
    </select>
    <input name="date" type="date" />
    <input type="submit" />
</form>

<script>
    $('#groups')
   .dropdown({
       maxSelections: 10
   });
    $('#teachers')
  .dropdown({
      maxSelections: 1
  });
    $('#disziplins')
  .dropdown({
      maxSelections: 1
  });
    $('#auds')
  .dropdown({
      maxSelections: 1
  })

</script>