@{ Layout = "_LayoutForLessons.cshtml";}
@using Bender.Extensions
@model RKE.UIModels.RozkladModelsForTeachers.RozkladModelForTeachersRozkladModel
    <h2 class="text-center">@Model.FullName</h2>
    <div class="col-md-12">
        @foreach (var item in Model.LessonModel) {
        <table class="table table-responsive table-striped table-bordered ">
                <tbody>
                    <tr>
                        <td></td>
                        <td>Понеділок</td>
                        <td>Вівторок</td>
                        <td>Середа</td>
                        <td>Четвер</td>
                        <td>П'ятниця</td>
                        <td>Субота</td>
                    </tr>
                    <tr>
                        @for (int i = 0; i < 6; i++)
                        {
                        <tr>
                            <td></td>
                            @for (int j = 0; j < 6; j++)
                            {
                                <td class="col-md-2">
                                    @if (!item[i][j].IsNullOrEmpty())
                                    {
                                        @item[i][j].Aud
                                        @item[i][j].NameOfDisziplin
                                        foreach (var itemGroup in item[i][j].Group) { 
                                            @itemGroup.Name
                                        }
                                    } 
                                </td>

                            }
                        </tr>
                        }


                    </tbody>
                </table>
        }
    </div>
            
    @if (@Model.SessionModel.IsNullOrEmpty())
    {
        <div class="col-md-4 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Група</th>
                    <th>Дисципліна</th>
                    <th>Дата</th>
                    <th>Ауд.</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.SessionModel)
                {
                    <tr>
                        <td>@item.</td>
                        <td>@item.NameOfLesson</td>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }