@{ Layout = "_LayoutForLessons.cshtml";}

@Styles.Render("~/Content/LessonsForStudents")
@using Bender.Extensions
@model RKE.UIModels.RozkladModelForStudents.RozkladModelForStudentsRozkladModel
<div class="container">
    <div>@Model.GroupName</div>
    <div class="col-md-12">
        @foreach (var weekItem in @Model.WeekModel)
        {
            <table class="table table-responsive table-striped table-bordered ">
                <tbody>
                <tr>
                    <td></td>
                    <td>Понеділок</td>
                    <td>Вівторок</td>
                    <td>Середа</td>
                    <td>Четвер</td>
                    <td>П'ятниця</td>
                    <td>Субота</td>
                </tr>
                <tr>
                @for (int i = 0; i < 6; i++)
                {
                    <tr>
                        <td></td>
                        @for (int j = 0; j < 6; j++)
                        {
                            <td class="col-md-2">
                                @if (!weekItem.RozkladModelForStudentsLessonModel[i][j].IsNullOrEmpty())
                                {
                                    @weekItem.RozkladModelForStudentsLessonModel[i][j].NameOfLesson
                                    @weekItem.RozkladModelForStudentsLessonModel[i][j].NameOfTeacher
                                }
                            </td>

                        }
                    </tr>
                }
        
        
                </tbody>
            </table>
        }
    </div>
        @*<div class="col-md-4 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Група</th>
                                    <th>Дисципліна</th>
                                    <th>Дата</th>
                                    <th>Ауд.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1,001</td>
                                    <td>Lorem</td>
                                    <td>ipsum</td>
                                    
                                </tr>
                                <tr>
                                    <td>1,009</td>
                                    
                                    <td>porta</td>
                                    <td>Mauris</td>
                                </tr>
                                <tr>
                                   
                                    <td>Vestibulum</td>
                                    <td>lacinia</td>
                                    <td>arcu</td>
                                </tr>
                                <tr>
                                   
                                    <td>nulla</td>
                                    <td>Class</td>
                                    <td>aptent</td>
                                </tr>
                                <tr>
                                    <td>sociosqu</td>
                                    <td>ad</td>
                                    <td>litora</td>
                                </tr>
                                <tr>
                                    <td>per</td>
                                    <td>conubia</td>
                                    <td>nostra</td>
                                </tr>
                                <tr>
                                    <td>1,014</td>
                                    <td>per</td>
                                    <td>inceptos</td>
                                    
                                </tr>
                                <tr>
                                    <td>ligula</td>
                                    <td>in</td>
                                    <td>libero</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@
</div>
        